
<nav class="navbar">
  <mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>train</mat-icon>
    </button>
  <div color="primary">
    <button href="#" mat-button routerLink="./homeall">Home</button>
    <button href="#" mat-button routerLink="./services">Services</button>
    <button href="#" mat-button routerLink="./contactus">Contact Us</button>
    <button href="#" mat-button routerLink="./sign-up">SignUp</button>
    <button href="#" mat-button routerLink="./components">Components</button>
    <button href="#" mat-button routerLink="/moreInfo">MoreInfo</button>
    <input class="searchelem" type="text" placeholder="Search..">
  </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</nav>
