<div class="Edit-comp">
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Introduction</label>
      <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Scope_of_work</label>
      <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder=" ">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Future Enhancements</label>
      <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="">
    </div>
  </form>
  <button class="updateBtn" class="btn btn-primary">Update</button>
  <button class="updateBtn" class="btn btn-success" [routerLink]="'/details2'">Back</button>
</div>


